.animated-outline-button {
    position: relative;
    padding: 12px 24px;
    background: transparent;
    color: white;
    cursor: pointer;
    border-radius:0%;
    font-size: 1rem;
    overflow: hidden;
    outline: none;
}

.animated-outline-button .content {
    position: relative;
    z-index: 1;
}

/* Shared border styles */
.animated-outline-button .border {
    position: absolute;
    background: rgb(255, 231, 231);
    transition: all 0.5s ease;
    transition-delay: 0.3s; 
}

/* Top border */
.animated-outline-button .top {
    height: 1px;
    width: 0;
    top: 0;
    left: 0;
    transition-delay: 0s;
}

/* Left border */
.animated-outline-button .left {
    width: 1px;
    height: 0;
    top: 0;
    left: 0;
    transition-delay: 0s;
}

/* Bottom border */
.animated-outline-button .bottom {
    height: 1px;
    width: 0;
    bottom: 0;
    right: 0;
    transition-delay: 0s;
}

/* Right border */
.animated-outline-button .right {
    width: 1px;
    height: 0;
    bottom: 0;
    right: 0;
    transition-delay: 0s;
}

/* Hover animation */
.animated-outline-button:hover{
    outline: none;
}

.animated-outline-button:hover .top {
    width: 100%;
}

.animated-outline-button:hover .left {
    height: 100%;
}

.animated-outline-button:hover .bottom {
    width: 100%;
}

.animated-outline-button:hover .right {
    height: 100%;
}