.hero-section {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column; /* Add this line */
    align-items: center;    /* Center horizontally */
    background-image: url('../assets/SunnyStreet.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
    padding: 0;
}

.hero-content {
    padding: 60px 30px 30px 30px;
    border-radius: 12px;
    text-align: center;
    min-width: 320px;
    max-width: 90vw;
    color: #222;
    font-family: 'Georgia', serif;
}

.hero-title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10rem;
    letter-spacing: 0.1em;
    margin: 0;
    opacity: 0.7;
}

.hero-nav {
    margin-top: 10px;
}

.hero-nav-list {
    display: flex;
    justify-content: center;
    gap: 4.3rem;
    list-style: none;
    padding-right: 20px;
    margin: 0;
}

.hero-nav-link {
    color:  #222;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    transition: color 0.2s;
}

.hero-nav-link:hover {
    color: #0000005f;
}

.hero-socials {
    margin-top: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    pointer-events: auto;
}

.hero-socials-list {
    /* background: rgba(58, 46, 46, 0.245); */
    padding: 12px 32px;
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
}

.hero-social-link {
    color: #222222c3;
    font-size: 2.7rem;
    transition: color 0.2s;
}

.hero-social-link:hover {
    color: #ff91d3;
}